<%- include('../partials/head')  %>
<%- include('../partials/navbar')  %>

<form action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" required />

  <label for="email">Email</label>
  <input type="email" name="email" required />
  
  <label for="password">Password</label>
  <input type="password" name="password" required />

  <input type="submit" value="save">
</form>

<%- include('../partials/footer')  %>
