<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 3rem">
  <a class="navbar-brand" href="/">Music Hacktiv8</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline mr-auto" method="POST" action="">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit">
  </form>

  <% if (user) { %>
    <div>
      <a href="/users/playlist" class="btn btn-primary my-2 my-sm-0">Playlist</a>
    </div>
    <div style="margin-left: 1.5rem">
      <a href="/signout" class="btn btn-outline-primary my-2 my-sm-0">Sign Out</a>
    </div>
  <% } else { %>
    <div>
      <a href="/signup" class="btn btn-primary my-2 my-sm-0">Sign Up</a>
    </div>
    <div style="margin-left: 1.5rem">
      <a href="/signin" class="btn btn-outline-primary my-2 my-sm-0">Sign In</a>
    </div>
    <% } %>
</nav>
